<html>
<b>Abstract</b>: To improve the treatment of painful Diabetic Peripheral Neuropathy (DPN) and associated co-morbidities, a better understanding of the pathophysiology and risk factors for painful DPN is required. Using harmonised cohorts (N = 1230) we have built models that classify painful versus painless DPN using quality of life (EQ5D), lifestyle (smoking, alcohol consumption), demographics (age, gender), personality and psychology traits (anxiety, depression, personality traits), biochemical (HbA1c) and clinical variables (BMI, hospital stay and trauma at young age) as predictors.<br><br>
For the diabetes cohort, we have patients with either painful diabetic neuropathy (PDPN), or painless diabetic neuropathy (DPN). We have also classified them into 'younger' and 'older' age groups. 
<br><br>
* DPN = Diabetic Peripheral Neuropathy <br>
* PDPN = Painless Diabetic Peripheral Neuropathy <br><br>
<b>Citation</b>: Baskozos G, Themistocleous AC, Hebert HL, Pascal MMV, John J, Callaghan BC, Laycock H, Granovsky Y, Crombez G, Yarnitsky D, Rice ASC, Smith BH, Bennett DLH. Classification of painful or painless diabetic peripheral neuropathy and identification of the most powerful predictors using machine learning models in large cross-sectional cohorts. BMC Med Inform Decis Mak. 2022 May 29;22(1):144. doi: <a href ="https://pubmed.ncbi.nlm.nih.gov/35644620/" target = "_blank">10.1186/s12911-022-01890-x.</a> </a>