<html>
Networks are built using protein–protein interaction data taken from the STRING database and are recalculated each submission (manuscript in preparation, please contact AMB @ allison.barry@ndcn.ox.ac.uk for details on how to cite). The network can be enriched based on: <br>
1. the Predicted Pain Score, calculated using a predictive classifier. <br>
2. the Composite LFC, an integrated statistic using data from all experiments here. <br>
3. differential expression in an individual experiment. <br>
4. known pain-associated genes from Dolorisk Priority Group, Human Pain Genetics Database, and the Pain Genes Database. <br><br>

<ul>
<li> <font style = "bold">Bold</font> text = gene input </li>
<li> Color gradient = Enrichment (PES or LFC)  </li>
<li> White color = non-significant  </li>
<li> Grey color = absent from current dataset </li>
<li> Box shape = genes contained in the <a href = "https://pubmed.ncbi.nlm.nih.gov/17574758/", target = "_blank">Pain Genes Database</a> </li>
<li> Shadow = genes contained in the <a href = "https://pubmed.ncbi.nlm.nih.gov/30756091/", target = "_blank"> Dolorisk Priority Group</a> </li>
<li> <font color = "black">Black</font> border =  genes contained in <a href = "https://humanpaingeneticsdb.ca/hpgdb/", target = "_blank">the Human Pain Genetics Database</a> </li>
</ul>



